<!DOCTYPE html>
<html>
<head>
    <title>All Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/events">View Events</a>
    <a href="/participants">Participants</a>
    <a href="/participant">Add Participant</a>
    <a href="/results">Results</a>
    <a href="/analytics">Analytics</a>
    <a href="/logout">Logout</a>
</div>

<h2>All Events</h2>

<form action="/events" method="GET">
    <input type="text" name="search" placeholder="Search event name">
    <button type="submit">Search</button>
</form>

<br>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Fest Name</th>
        <th>Event Name</th>
        <th>Department</th>
        <th>Category</th>
        <th>Action</th>
    </tr>

    {% for event in events %}
<tr>
    <td>{{ event[0] }}</td>
    <td>{{ event[7] }}</td>
    <td>{{ event[1] }}</td>
    <td>{{ event[2] }}</td>
    <td>{{ event[3] }}</td>
    <td>
        <a href="/edit/{{ event[0] }}">Edit</a> |
        <a href="/delete/{{ event[0] }}">Delete</a>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>
